<!DOCTYPE html>
<html>
  <head>
    <title>yawp</title>
   <link rel="shortcut icon" href="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/118ff475a341/assets/img/logos/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC5G0Mt8fcZ0m5FmACkN_HhL2L1UOTdhfI" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Taprom" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
